[submodule "AnalysisTools/Parang"]
	path = AnalysisTools/Parang
	url = git@github.com:UCSBSusy/Parang.git
[submodule "AnalysisTools/QuickRefold"]
	path = AnalysisTools/QuickRefold
	url = git@github.com:UCSBSusy/QuickRefold.git
[submodule "AnalysisTools/RooUnfold"]
	path = AnalysisTools/RooUnfold
	url = git@github.com:UCSBSusy/RooUnfold.git
[submodule "JMEAnalysis/JetToolbox"]
	path = JMEAnalysis/JetToolbox
	url = git@github.com:cms-jet/JetToolbox.git
[submodule "PhysicsTools"]
	path = PhysicsTools
	url = git@github.com:hqucms/PhysicsTools.git 
[submodule "AnalysisMethods/EstTools"]
	path = AnalysisMethods/EstTools
	url = git@github.com:UCSBSusy/EstTools.git
[submodule "RecoMET"]
	path = RecoMET
	url = git@github.com:hqucms/RecoMET.git
[submodule "DataFormats"]
	path = DataFormats
	url = git@github.com:hqucms/DataFormats.git
[submodule "RecoBTag"]
	path = RecoBTag
	url = git@github.com:hqucms/RecoBTag.git
[submodule "RecoEgamma"]
	path = RecoEgamma
	url = git@github.com:hqucms/RecoEgamma.git
[submodule "CommonTools"]
	path = CommonTools
	url = git@github.com:hqucms/CommonTools.git
