[submodule "AnalysisTools/Parang"]
	path = AnalysisTools/Parang
	url = git@github.com:UCSBSusy/Parang.git
[submodule "AnalysisTools/QuickRefold"]
	path = AnalysisTools/QuickRefold
	url = git@github.com:UCSBSusy/QuickRefold.git
[submodule "AnalysisTools/RooUnfold"]
	path = AnalysisTools/RooUnfold
	url = git@github.com:UCSBSusy/RooUnfold.git
[submodule "AnalysisTools/OptiMass"]
	path = AnalysisTools/OptiMass
	url = https://github.com/ASPatterson/OptiMass-v1.0.3.git
[submodule "JMEAnalysis/JetToolbox"]
	path = JMEAnalysis/JetToolbox
	url = git@github.com:cms-jet/JetToolbox.git
[submodule "PhysicsTools"]
	path = PhysicsTools
	url = git@github.com:hqucms/PhysicsTools.git 
[submodule "AnalysisMethods/EstTools"]
	path = AnalysisMethods/EstTools
	url = git@github.com:UCSBSusy/EstTools.git
[submodule "RecoMET"]
	path = RecoMET
	url = git@github.com:hqucms/RecoMET.git
